<div class="job-show-heading">
  <h1><%= @job.title %></h1>
  <h2>Company | <%= @job.location %></h2>
</div>
<br>
<div class="row job-techs">
  <%@job.technologies.each do |tech|%>
    <div class="tech">
      <span><%= tech %> </span>
    </div>
  <% end %>
</div>

<div class="job-description">
  <% if @job.description != "Add from pdf" %>
    <%= @job.description %>
  <% end %>
</div>

<div class="job-info">
  <h6>Job type: </h6><%= @job.job_type %>
  <h6>Experience level: </h6><%= @job.experience_level %>
  <h6>Job pay: </h6><%= @job.pay %>
  <h6>Job industry: </h6><%= @job.field %>
</div>