<div class="job-show-heading">
  <h1><%= @job.title %></h1>
  <h2>Company | <%= @job.location %></h2>
</div>
<br>
<div class="row job-techs">
  <%@job.technologies.each do |tech|%>
    <div class="tech">
      <span><%= tech %> </span>
    </div>
  <% end %>
</div>

<div class="job-description col-sm-8 col-sm-offset-1">
  <h3>Job Description</h3>
  <% if @job.description != "Add from pdf" %>
    <%= @job.description %>
  <% end %>
</div>

<div class="job-info col-sm-3 col-sm-offset-1">
  <span>Job type: </span><%= @job.job_type %>
  <span>Experience level: </span><%= @job.experience_level %>
  <span>Job pay: </span><%= @job.pay %>
  <span>Job industry: </span><%= @job.field %>
</div>